
.AdminPageContainer{
    max-width: 77%;
    height: 100vh;
    margin: auto;
    position: relative;
    justify-content: center;
    display: block;
    flex-direction: column;
    padding-left: 17rem;

}
/* External CSS file */

  .AdminPage {
    display: flex;
  }
  
  .admin-side-section {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%; /* Adjust the width as needed */
    background-color: #fff; /* Set your desired background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
    z-index: 1000; /* Ensure the sidebar is above other elements */
   
  }

.adminlogo{
    background-color: #fff; /* Set your desired background color */

}
  
  .admin-side-section nav {
   width: auto;
    background: none;    
  }
  
  .admin-side-section ul {
    flex-direction: column;
    list-style: none;
    text-align: center;
    width: 100%;
    background-color: white;
    display: flex;
    row-gap: 1rem;
}

.admin-side-section li {
    width: 100%;
    height: 3rem;
    display: flex;
    background-color: transparent;
    align-items: center;
}

.admin-side-section li:hover {
    background-color: #DC5341;
}
  
  .admin-side-section a {
    text-decoration: none;
    color: black;
    background-color: transparent;

}

.admin-side-section a:hover{
    color: black;
}

#adminheadersection{
    height: 10vh;
    position: fixed;
    top: 0;
    font-size: 2em;
    width:80%;
    margin-left: -1.4rem;
    z-index: 1001;
    box-shadow: 2px 3px  rgba(0, 0, 0, 0.1); /* Optional: Add a shadow effect */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}
  
  #adminsection1{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
  }

  #adminsection2{
    height: 100vh;
    width: 100%;
    background-color: lightcoral;
  }

  
  #adminsection3{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
  }

  #adminsection4{
    height: 100vh;
    width: 100%;

    background-color: lightcoral;
  }