
.AdminPageContainer{
    max-width: 77%;
    height: 100vh;
    margin: auto;
    position: relative;
    justify-content: center;
    display: block;
    flex-direction: column;
    padding-left: 17rem;
    overflow-y: hidden;
}
/* External CSS file */

  .AdminPage {
    display: flex;
  }
  
  .admin-side-section {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%; /* Adjust the width as needed */
    background-color: #fff; /* Set your desired background color */
    z-index: 1002; /* Ensure the sidebar is above other elements */
   
  }

.adminlogo{
    background-color: #fff; /* Set your desired background color */

}
  
  .admin-side-section nav {
   width: auto;
    background: none;    
  }
  
  .admin-side-section ul {
    flex-direction: column;
    list-style: none;
    text-align: center;
    width: 100%;
    background-color: white;
    display: flex;
    row-gap: 1rem;
}

.admin-side-section li {
    width: 100%;
    height: 3rem;
    display: flex;
    background-color: transparent;
    align-items: center;
}

.admin-side-section li:hover {
    background-color: #DC5341;
}
  
  .admin-side-section a {
    text-decoration: none;
    color: black;

    background-color: transparent;

}

.admin-side-section a:hover{
    color: black;
}


  
  #adminsection1{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 4rem;
    display: flex;
    justify-content: center;
  }

  #adminsection2{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
  }

  
  #adminsection3{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
  }

  #adminsection4{
    height: 100vh;
    width: 100%;
    position: relative;
    padding-top: 6rem;
    display: flex;
    justify-content: center;
  }

  .section1contentcontainer,
  .section2contentcontainer,
  .section3contentcontainer,
  .section4contentcontainer{
    width: 95%;
    display: flex;
    height: 69%;
    padding-top: 1rem;
    position: absolute;
  }

  .section1contentcontainer{
    overflow: auto;
  }
  /* Add some basic styling to the table */
.section1contentcontainer table {
  border-collapse: collapse;
  width: 100%;

}

.section1contentcontainer table thead tr{
  position: fixed;
  width: 72%;padding-top: 2rem;
  top: 0;
}

.section1contentcontainer table thead tr, .section1contentcontainer table tbody tr{
  display: flex;
  justify-content: center;
  

}

.section1contentcontainer table thead tr th {
  font-size: 12px;
  border-collapse: collapse;
  height: 2rem;
  padding: 8px;
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px #DC5341 solid;
}


.section1contentcontainer table tbody tr td{
  font-size: 12px;
  border-collapse: collapse;
  height: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

}

.section1contentcontainer table tbody tr:hover{
  background-color: #DC5341;
}



.actionstd{
  display: flex;
  flex-direction: row;
}

.section1contentcontainer table tbody tr td button.update,
.section1contentcontainer table tbody tr td button.delete{
  background-color: transparent;
  border: none;
  width: 30%;
  padding: 5px;
}

.section1contentcontainer table tbody tr td button.update:hover,
.section1contentcontainer table tbody tr td button.delete:hover{
 opacity: 0.5;
 cursor: pointer;
}


.section1contentcontainer table tbody tr td button img{
  width: 30px;
  background-color: transparent;
}

.Additembtn{
  position: absolute;
  width: 10%;
  padding: 10px;
  display: flex;
  justify-content: center;
  bottom: 5rem;
  color: #DC5341;
  border: 1px solid #DC5341;
  cursor: pointer;
}

.Additembtn:hover{
  background-color: #DC5341;
  color: white;
  transition: 0.3s;
}



/* Add this to your CSS file or style tag */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  padding: 20px;
  border-radius: 8px;
  position: relative;
  width: 20%;
  margin-left: 15rem;
  display: flex;
  text-align: center;
  justify-content: center;
}

.close-button {
  position: absolute;
  top: -12px;
  right:-10px;
  font-size: 20px;
  cursor: pointer;
  width: 25px;
  display: flex;
  color: #DC5341;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 1px 5px 5px 5px rgba(0,0,0,0.10);
}

.addinputfield{
  height: 2rem;
  margin: 1rem 0;
  width: 10rem;
  padding-left: 5px;
  border: 1px gray solid;
}

.addinputfield::placeholder{
  color: gray;
  opacity: 0.5;
}

.subbtn{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 30%;
  padding: 10px;
  background-color:#DC5341 ;
  color: white;
  border: 1px #DC5341 solid;
  cursor: pointer;
}


.subbtn:hover{
  color: #DC5341;
  background-color: white;

}


