*{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F8EBE2;

}

.HomePageContainer{
    max-width: 75em;
    height: 100vh;
    margin: auto;
    position: relative;
    justify-content: center;
}
#section1{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.headersection{
    height: 10em;
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1;
}

.leftheader{
    flex: 1fr;
    width: auto; /* Set the width of the container */
    height: auto; /* Set the height of the container */
    display: flex;
    align-items: center;
    justify-content: left;
    
}

.logo-icon {
    max-width: 200px; /* Ensure the logo doesn't exceed the width of its container */
    max-height: 200px; /* Ensure the logo doesn't exceed the height of its container */
    cursor: pointer;
} 
.centerheader{
    flex: 40%;
    display: flex;
    align-items: center;
    text-align: center;
    
}

nav ul{
    display: flex;
    flex-direction: row;
    
}

nav ul li{
    list-style: none;
}

nav ul li:hover{
    cursor: pointer;
    color: #DC5341;
}
.rightheader{
    flex: 20%;
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.rightheader button{
    border: none;
    background: transparent;
    width: 20%;
    
}
.rightheader button img{
    max-width: 30px; /* Ensure the logo doesn't exceed the width of its container */
    max-height: 30px; 
    cursor: pointer;
}
.rightheader button img:hover{
   opacity: 0.6;
}

.introsection{
    width: 100%;
    height: 100%;
    display: flex;
}
.leftintrosection{
  flex: 40%;
  height: 80%;
  padding: 2em 2em 2em 2em;
  
}
.left-one{
    height: 4em;
    font-size: 1.2em;
    color: #DC5341;
    text-align: left;
}

.left-two{
    font-size: 1.2em;
    color: #DC5341;
    padding-left: 10rem;
}

.left-three{    
    font-size: 1em;
    color: black;
    height: 10em;
    padding-top: 2em;
    line-height: 2em;
        text-align: left;
}

.left-four{    
    display: flex;
    align-items: center;
    justify-content: left;
}


.left-four button{
    width: 30%;
    background-color: transparent;
    height: 2rem;
    border: 2px solid #DC5341;
    color: #DC5341;
}

.left-four button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.rightintrosection{
    margin-right: 1.5em;
    flex: 50%;
    background-color: white;
    height: 80%;
    padding: 0.3em;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}
.rightimgcontainer{
    width: 100%;
    background-color: black;
    background-image: url(../img/home-page.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-blend-mode:lighten;
}

#section2{
    background-color: lightcoral;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#section3{
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

#section4{
    background-color: lightcoral;
    width: 100%;
    height: 100%;
}
