*{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F1F0EE;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
}
/* 
.HomePageContainer{
    width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    justify-content: center;
    
} */

#section1{
    width: 75em;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
   
}


.introsection{
    width: 100%;
    height: 100%;
    display: flex;
}
.leftintrosection{
  flex: 40%;
  height: 80%;
  padding: 7em 2em 2em 2em;
}
.left-one{
    height: 4em;
    font-size: 1.2em;
    color: #32281E;
    text-align: left;
}

.left-one h1, .left-two h1{
    font-weight: 500;
    background-color: transparent;
}

.left-two{
    font-size: 1.2em;
    background-color: transparent;

    color: #32281E;
    padding-left: 10rem;
}

.left-three{    
    font-size: 12px;
    color: black;
    height: 10em;
    padding-top: 2em;
    line-height: 3em;
}


.left-four{    
    display: flex;
    align-items: center;
    justify-content: left;
    padding-top: 4em;
    text-align: center;
}   


.left-four button{
    width: 30%;
    background-color: #32281E;
    height: 2rem;
    border-radius: 2rem;
    border: none;
    color: #F1F0EE;
}

.left-four button:hover{
    opacity: 0.5;
    cursor: pointer;
}

.rightintrosection{
    flex: 50%;
    margin-top: 6em;
    height: 60%;
    padding: 0.3em;
    border-radius: 10px;
    background-color:#32281E;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.25);
}

#section2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.headersection2{
    height: 10%;
    width: 100%;
    padding-top: 2rem;
    text-align: center;
}

.headersection2 h1{
   font-size: 2em;
   color: #32281E;
   margin-bottom: 2rem;
   font-weight: 500;
}

.headersection2 p{
    height: 2rem;
    font-size: 14px;
    color: #32281E;
    width: 70%;
    margin: auto;
 
 }

.section2content{
    margin-top: 4rem;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-evenly;
    background-image: url(../img/section1-bg.jpg);
    column-gap: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #1e1c1a;
}

.box{
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: white;
    position: relative;
    flex-direction: column;
    display: flex;
    border-radius: 15px;

}

.imgcontainer1{
    
    height: 80%;
    width: auto;
    background-image: url(../img/prod1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.imgcontainer2{
    height: 80%;
    width: auto;
    background-image: url(../img/prod2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.imgcontainer3{
    height: 80%;
    width: auto;
    background-image: url(../img/prod3.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}


/*BUTTON ANIMATION*/
.cta {
    margin-top: 2rem;
    border: none;
    cursor: pointer;
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 60%;
    margin: auto;
  }
  
  .cta span {
    padding-bottom: -7px;
    letter-spacing: 4px;
    font-family: 'Poppins', Courier, monospace;
    font-weight: 400;
    font-size: 9px;
    background-color: transparent;
    color: #32281E;
    text-transform: uppercase;
  }
  
  .cta svg {
    background-color: transparent;
    transform: translateX(-8px);
    transition: all 0.3s ease;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active svg {
    transform: scale(0.9);
  }
  
  .hover-underline-animation {
    position: relative;
    color: black;
    padding-bottom: 8px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #DC5341;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.imgcontainer1 h3, .imgcontainer2 h3, .imgcontainer3 h3{
    background-color: #32281E;
    width: 40%;
    color: white;
    font-weight: 300;
    font-size: small;
    padding: 0.5rem 0;
}

.section2container{
    height: 70%;
    width: 60%;
}

#section3{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;    
    background-color: #E7E1D5;
}

.section3leftcontainer{
    flex: 50%;
    height: 80vh;
    position: relative;
    display: flex;
    background-color: transparent;
    justify-content: center;
    align-items: center;
}

.aboutuscontainerimg{
    position: absolute;
    background-image: url(../img/aboutus.png);
    height: 100%;
    border-radius: 1rem;
    width: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    border: 2px solid black ;
}

.section3rightcontainer{
    background-color: transparent;
    flex: 40%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}

.section3rightcontainer h1{
    font-size: 3em;
    background-color: transparent;
    margin-top: 0.5em;
    color: #32281E;
    font-weight: 500;
    margin-bottom: 2rem;
}

.section3rightcontainer .p1{
    height: 2em;
    text-align: center;
    width: 80%;

    background-color: transparent;
}

.section3rightcontainer .p2{
    background-color: transparent;
    height: 10em;
    line-height: 1.5rem;
    text-align: center;
    width: 80%;
}

.section3rightcontainer p span{
   background-color: transparent;

}

#section4{
    width: 100%;
    height: 15rem;
    background-image: url(../img/section1-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #1e1c1a;
    display: flex;
    position: relative;
 
}
.footersection{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 80%;
    gap: 2rem;
    flex-direction: column;
    margin: auto;
}

.divtop{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    background: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
    width: 50%;

}

.divtop p{
    background-color: transparent;
    color: white;
    text-align: center;

    width: 30%;
}


 .footerlogo{
    border-radius: 50%;
    height: 100px;
    text-align: center;
    width: 100px;
}

.divbottom{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    gap: 1rem;
}



.foot1,
.foot2,
.foot3,
.foot4{
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: #32281E;
    padding: 1rem;
    border: none;
}


.foot1:hover, 
.foot2:hover, 
.foot3:hover, 
.foot4:hover{
    opacity: 0.5;
    cursor: pointer;
} 



.imgfoot1{
    background-image: url(../img/facebook-app-symbol.png);
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}

.imgfoot2{
    background-image: url(../img/instagram.png);
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}


.imgfoot3{
    background-image: url(../img/twitter.png);
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
}


.imgfoot4{
    background-image: url(../img/youtube.png);
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0.3rem 0 0 0.1rem;
}


















/*POPUPS*/


.closemodal{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: fixed;
    display: flex;
    color: black;
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1em;
}

.modalimgcontainer{
    width: auto;
    height: 15em;
    background-image: url(../img/modalbg.png);  
    position: relative;
}

.logo-icon-modal{
    position: absolute;
    display: flex;
    width: auto;
    height: 80%;
    margin: 1.5rem 0 2rem 9rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust overlay color and opacity */

}

.inputfieldcontainer{
    height: 10em;
    display: flex;
    padding-top: 3em;
    flex-direction: column;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    background-color: #F8EBE2;
}

.usernamecontainer,
.passwordcontainer{
    display: flex;
    width: 50%;
    flex-direction: row;
    background-color: transparent;

}
.usernamecontainer  input,
.passwordcontainer input{
        border: 1px solid #DC5341;
        height: 2em;
        padding-left: 1rem;
    }


.iconinput{
    width: 2rem;
    height: 2rem;
    background-image: url(../img/userlogin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.iconinput2{
    width: 2rem;
    height: 2rem;
    background-image: url(../img/passlogin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.buttonmodal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 2em;
    margin: auto;
    column-gap: 1rem;
    justify-content: center;
    background-color: #F8EBE2;
}

.signupbtn{
  border: none;
  color: gray;
  cursor: pointer;
  width: 20%;
  background-color: #F8EBE2;

}

.loginbtn{
    border: none;
    color: #F8EBE2;
    cursor: pointer;
    width: 20%;
    
    background-color: #DC5341;
}




/* Explore pop up */

.exploremaincontainer{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    overflow-x: hidden;
}
.subexplorcontainer{
  

    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background: none;
    flex-wrap: wrap;
    padding: 3px;
    gap: 3px;
    justify-content: center;
}
.subexplorcontainer div{
    width: 20rem;
    height: 20rem;
}

.div1 {
   background-image: url(../img/one.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.div1 {
    background-image: url(../img/one.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }


.div2 {
    background-image: url(../img/two.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .div3 {
    background-image: url(../img/eleven.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .div4 {
    background-image: url(../img/twelve.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .div5 {
    background-image: url(../img/seven.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }
 .div6 {
    background-image: url(../img/six.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .div7 {
    background-image: url(../img/eight.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
 }
 .div8 {
    background-image: url(../img/five.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
 }
 .div9 {
    background-image: url(../img/ten.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
 }
 .div10 {
    background-image: url(../img/nine.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .div11 {
    background-image: url(../img/three.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .div12 {
    background-image: url(../img/four.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }


 .subexplorcontainer div:hover{
    transform: scale(1.3);
    transition: 1s;
    cursor: pointer;

}


