.ProductsPageContainer{
    max-width: 100%;
    height: 100vh;
    margin: auto;
    position: relative;
    justify-content: center;
}


.ProductPageHeader{
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    background-blend-mode: overlay;
    background-color: #794A3A;
    background-size: cover;
    align-items: start;
    background-blend-mode: multiply;
    background-color: transparent;
    justify-content: center;
}   

.link-style{
    background-color: transparent;
    width: 10%;
    margin-left: 3rem;
    color: white;
    text-decoration: none;
}


.ProductPageHeader p{
    background-color: transparent;
}


.box{
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 5px 5px 5px 1px #000000;
}

.prodheaderlogo{
    position: absolute;
    display: flex;
    height: 5%;
    width: 3%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5); /* Adjust overlay color and opacity */
}

.ProductPageContent{
    max-width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-evenly;
    column-gap: 2em;
    row-gap: 2em;
    background-image: url(../img/prodbg.png);
}   

    .link-style button {
    display: flex;
    height: 3em;
    width: 150px;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    }

    .link-style button span{
        background-color: transparent;
        width: 400px;
    }

    .link-style button > svg {
    font-size: 20px;
    background-color: transparent;
    transition: all 0.4s ease-in;
    }

    .link-style button:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
    }

    .link-style button:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
    }