*{
    font-family: 'Poppins', sans-serif;

}

.Productheadersection{
    height: 10em;
    width: 75em;
    display: flex;

    margin: auto;
}

.ProductPageContent{
    max-width: 100%;
    background-color: #F1F0EE;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-evenly;
    column-gap: 2em;
    row-gap: 2em;
    position: relative;
}   

.checkiconcontainermodal{
    display: flex;
    margin: auto;
    justify-content: center;
    position: relative;
    height: 30%;
    padding-top: 5rem;
    background-color: #E2D9C8;
}

.checkiconmodal{
    width: 20%;
    border-radius: 50%;
    background-color: transparent;
    position: absolute;
    display: flex;
    justify-content: center;
}

.success_p{
    text-align: center;
    background-color: transparent;
    margin-top: 1.5rem;    
}

.procceedbtn{
    width: 50%;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
    background-color: #32281E;
    border: none;
    color: white;
    border-radius: 10px;
}

.procceedbtn:hover{
    cursor: pointer;
    opacity: 0.5;
}
.checkiconcontainermodal .closemodal{
    position: absolute; 
    top: -5px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    width: 28px;
    display: flex;
    color: #32281E;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 1px 5px 5px 5px rgba(0,0,0,0.10);
}



    
    .beans{
        display: flex;
        position: absolute;
        margin-top: 5rem;
        padding-bottom: 5rem;
        column-gap: 30px;
        row-gap: 50px;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;
        background-color: #F1F0EE;
        background: none;
    }
    .bean{
        height: 400px;
        padding: 3px;
        width: 300px;
        gap: 10px;
        border-radius: 20px;
        align-items: center;
        text-align: center;
        background-color: #E2D9C8;
        position: relative;
        background-color: transparent;
        -moz-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
        box-shadow: -1px 2px 5px 0px rgba(0,0,0,0.75);
    }
    
    .imgcontainer{
        background: none;
    }

     .beans img{
        object-fit: cover;
        width: 100%;
        height:80%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border: none;
        background-color: transparent;
        background: none;
    }
    .beans h4{
        font-size: 16px;
        color: #32281E;
        background: none;
        font-weight: 500;
        height:2rem;
        width: 50%;
        display: flex;
        align-items: center;        
        position: absolute;
        bottom: 3rem;
        padding-left: 10px;
    }

    .beans span{
        font-size: 12px;
        background-color: #32281E;
        height:2rem;
        color: white;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;      
        border-radius: 4px;  
        position: absolute;
        bottom: 8px;
        right: 10px;
    }

.addCart{
    font-size: 12px;
    background-color: transparent;
    height:2rem;
    width: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;        
    position: absolute;
    justify-self: unset;
    border-radius: 4px;  
    border: none;
    color: white;
    bottom: 8px;
    left: 10px;
}

.addCart img{
    height: 25px;
    width: 25px;
    background-color: transparent;
}
.addCart:hover{
    opacity: 0.5;
}


