*{
    font-family: 'Poppins', sans-serif;

}

.ProductsPageContainer{
    max-width: 100%;
    height: 100vh;
    margin: auto;
    justify-content: center;

}



.ProductPageContent{
    max-width: 100%;
    background-color: #F1F0EE;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-evenly;
    column-gap: 2em;
    row-gap: 2em;
    position: relative;
    overflow-y: auto;
}   

    
    .beans{
        display: flex;
        position: absolute;
        margin-top: 5rem;
        padding-bottom: 5rem;
        column-gap: 30px;
        row-gap: 50px;
        background-color: transparent;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;

    }
    .bean{
        height: 400px;
        padding: 3px;
        width: 300px;
        gap: 10px;
        align-items: center;
        text-align: center;
        background-color: #E2D9C8;
        position: relative;
    }
    
     .beans img{
        object-fit: cover;
        width: 100%;
        height:80%;
        border: none;
    }
    .beans h4{
        font-size: 12px;
        color: #32281E;
        background: none;
        font-weight: 400;
        height:2rem;
        width: 40%;
        display: flex;
        align-items: center;        
        position: absolute;
        bottom: 3rem;
        padding-left: 10px;
    }

    .beans span{
        font-size: 12px;
        background-color: #32281E;
        height:2rem;
        color: white;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;      
        border-radius: 4px;  
        position: absolute;
        bottom: 8px;
        right: 10px;
    }

.addCart{
    font-size: 12px;
    background-color: transparent;
    height:2rem;
    width: 2rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;        
    position: absolute;
    justify-self: unset;
    border-radius: 4px;  
    border: none;
    color: white;
    bottom: 8px;
    left: 10px;
}

.addCart img{
    height: 25px;
    width: 25px;
    background-color: transparent;
}

