.ProductsPageContainer{
    max-width: 100%;
    height: 100vh;
    margin: auto;
    justify-content: center;
}



.ProductPageContent{
    max-width: 100%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: space-evenly;
    column-gap: 2em;
    row-gap: 2em;
    position: relative;
    overflow-y: auto;
}   

    
    .beans{
        display: flex;
        position: absolute;
        margin-top: 5rem;
        padding-bottom: 5rem;
        column-gap: 30px;
        row-gap: 50px;
        background-color: transparent;
        justify-content: center;
        flex-wrap: wrap;
        width: 90%;

    }
    .bean{
        height: 400px;
        padding: 5px;
        width: 300px;
        gap: 10px;
        align-items: center;
        text-align: center;
        background-color: white;
        position: relative;
    }
    
     .beans img{
        object-fit: cover;
        width: 100%;
        height:100%;
        border: none;
    }
    .beans h4{
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
        background-color: #FACA78;
        height:2rem;
        width: 40%;
        display: flex;
        justify-content: center;
        align-items: center;        
        position: absolute;
        top: 0;
        left: 0;
    }

    .beans span{
        font-size: 12px;
        font-family: 'Courier New', Courier, monospace;
        background-color: #FACA78;
        height:2rem;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;        
        position: absolute;
        bottom: 0;
        right: 0;
    }

.addCart{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #FACA78;
    height:2rem;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;        
    position: absolute;
    justify-self: unset;
    border: none;
    bottom: 0;
    left: 0;
}

